.DS_Store
node_modules
venv
/dish-electron/userdata
/safu_dish_backend/logs
/safu_dish_backend/telemetry
/safu_dish_backend/telemetry_graphs
local_deps
/node
/safu_dish_backend/app/modules/Test_APM/models
/safu_dish_backend/app/modules/Test_APM/onnx_models
__pycache__
/safu_dish_backend/app/config
*.log